*.iml
.gradle

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/build
.externalNativeBuild
.cxx

local.properties
keys.properties

.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/misc.xml
.idea/other.xml

# ignorerer den genererte filen, som vil inneholde API-nøkkelen
app/google-services.json
